/* Media Queries */
@media (max-width: 2560px) {  
  .page {
    /*width: 1920px;*/
  }
}

/* Large Devices (less than 1920px) */
@media (max-width: 1919px) {
  
  .page {
    width: 100%;
  }

  .banner__main {
    /*padding: 100px 165px;*/
    padding-right: 60px;
  }


  .features__content {
    /*padding: 0 10px;*/
  }
/*  .contact__content {
    margin: 0 100px;
  }*/
}
/* Medium Devices (less than 1700px) */
@media (max-width: 1700px) {
  .banner__main {
    padding: 100px 100px;
  }

  .banner__title {
    margin-bottom: 10px;
    font-size: 65px;
  }

  .banner__subtitle-text {
    margin-bottom: 30px;
    font-size: 40px;
  }
  .features__list{
    margin-bottom: 20px;
  }
  .features__container {    
    flex-direction: column;
    align-items: center;
  }
  .features__content {
    padding: 30px 20px;
    flex: 1 1 auto;
  }
  .features__image-wrapper{
    width: 100%;
  }


  .contact__content {
    margin: 0 100px;
  }
  .contact__photo{
    right: 200px;    
  }
 .header__content {
    padding: 65px 100px;
    gap: 80px;
  }
  .features{
    height: auto;
  }
  .footer__content{
    padding: 80px 100px 25px;
  }
  .footer__bottom{
    padding: 0 100px;
  }
}

/* Medium Devices (less than 1500px) */
@media (max-width: 1500px) {

  .banner__main {
    padding: 80px 60px;
    padding-right: 30px;
  }
  .banner__box{
    margin-bottom: 10px;
  }
 .header__content {
    padding: 45px 60px;
    gap: 30px;
  }
  .header__nav{
    gap: 20px;
  }
  .features__container {
    padding: 0 10px;
  }

  .contact__content {
    margin: 0 80px;
  }
  .contact__photo{
    right: 100px;    
  }
  .footer__content{
    padding: 80px 80px 25px;
  }
  .footer__bottom{
    padding: 0 80px;
  }
}
/* Medium Devices (less than 1366px) */
@media (max-width: 1366px) {
  .banner__welcome{
    z-index: 900;
    /*opacity: 0.7;*/
    background: rgba(34, 34, 34, 0.6);
    /*position: absolute;*/
    height: 100%;
    width: 100%;
  }
 .banner__image-container {
    position: absolute;
    /*max-height: auto;*/
/*    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;*/
    /*overflow: unset;*/
    /*position: absolute;*/
    object-fit: contain;
    /* order: 0; */
    /* z-index: 0; */    
    /*flex: 0 1 auto*/
    width: 100%;
    /*height: auto;*/
  }
  .banner__image{
    height: auto;
    width: 100%;
    height: auto; 
    /* width: 100%; */
    /* overflow: hidden;*/
  }
  .contact__content {
    margin: 0 50px;
  }
  .contact__photo{
    right: 80px;    
  }
  .footer__content{
    padding: 80px 50px 25px;
  }
  .footer__bottom{
    padding: 0 50px;
  }
}

/* Medium Devices (less than 1366px) */
@media (max-width: 1366px) {

  .contact__inner {
      background: white;
      /*opacity: 0.8;*/
      background-color: rgba(255, 255, 255, 0.7);
      width: 100%;
      border-radius: 24px;
      padding: 70px 130px;
  }
  .contact__container .divider{
    position: relative;
    opacity: 0.5;
    z-index: 6;
  }
  .footer__social {
    gap: 20px;
  }

}

/* Medium Devices (less than 10246px) */
@media (max-width: 1024px) {
  .contact__inner {
      padding: 60px 80px;
  }

  .footer__social {
    /*gap: 10px;*/
  }

  .footer__content{
    /*padding: 80px 30px 25px;*/

  }
  .contact__title {
    font-size: 48px;
    padding-bottom: 30px;
  }
  .banner__title {
    font-size: 54px;
    line-height: 72px;
  }
  .header__content {
    padding: 30px 30px;

  }
  .contact__container {
    overflow: hidden;
  }
  .contact__content{
    height: 628px;
  }
}

/* Medium Devices (less than 767px) */
@media (max-width: 767px) {
  .contact__inner {
      padding: 30px 30px;
  }

  .footer__social {
    gap: 10px;
  }
  .footer__nav {
    gap: 30px;
  }
  .footer__content{
    padding: 80px 30px 25px;
  }
  .footer__bottom{
    padding: 0 30px;
  }
  .contact__title {
    font-size: 42px;
    padding-bottom: 20px;
  }
  .contact__container {
    /*overflow: hidden;*/
  }
  .contact__image-wrapper{
    overflow: hidden;
  }
  .contact__image{
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }

  .contact__photo{
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
  
  .header__container {
    padding: 20px;
    gap: 40px;
  }

  .header__logo {
    font-size: 24px;
  }
  /*
  .nav__item {
    font-size: 14px;
  }

  .banner__content {
    padding: 100px 20px;
  }

  .banner__title {
    font-size: 36px;
    line-height: 44px;
  }

  .price-list__item {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }

  .price-list__value {
    font-size: 32px;
  }

  .features__content {
    padding: 20px;
  }

  .features__text {
    font-size: 18px;
  }

  .contact__title {
    font-size: 36px;
  }

  .footer__nav {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
    height: auto;
    padding: 20px;
  }*/
  .footer__content {
    align-items: center;
    flex-direction: column;
    padding: 40px;
    height: auto;
    gap: 30px;
  }
}


/* Medium Devices (less than 700px) */
@media (max-width: 700px) {
  .contact__inner {
  }

  .footer__social {
  }

  .header__content{

    flex-direction: column;
    align-items: flex-start;
    line-height: 10px;
  }

  .contact__title {
  }
  .contact__container {
    /*overflow: hidden;*/
  }
  .price-list__value {
    font-size: 28px;
  }
  .price__item-inner{
    gap: 10px;    
  }
  .price__value{
    font-size: 32px;
  }
  .banner__main {
    padding: 80px 30px;
  }
  .footer__bottom{
    gap: 10px;
    padding: 0px 10px;
  }
}
/* Extra Small Devices (less than 480px) */
@media (max-width: 479px) {
  .footer__bottom{
    flex-direction: column;
    gap: 15px;
    text-align: center;
    height: auto;
    padding: 20px;
  }
  .footer__content{
    padding: 15px;
  }
  .footer__nav {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: auto;
    padding: 15px;
  }
  .header__nav {
    flex-direction: column;
    height: auto;
    padding: 15px 0;
    align-items: flex-start;
    gap: 15px;
    font-size: 20px;
  }  
  .banner__main {
    padding: 80px 20px;
  }  
  .price__icon{
    width: 25px;
    height: auto;
  }
  .price__value{
    font-size: 24px;
  }
  .price__content{
    /*display: inline-block;*/
  }
  .banner__title{
    margin-top: 30px;
  }
  .header{
    height: 200px;
  }
  .banner__subtitle-text{
    font-size: 26px;
  }
  .banner__title {
    font-size: 42px;

  }
  .price__item{
    margin: 35px 0;
  }
  .price__list{
    padding-bottom: 20px;
  }
  .contact__content {
    margin: 0 20px;
  }  
  .contact__inner {
    padding: 30px 20px;
  }
  .divider {
    /*height: 60px;*/
  }
  .contact__title {
    font-size: 36px;
  }
}

@media (max-width: 319px) {  
  .contact__title {
    font-size: 28px;
  }
  .header__logo {
    font-size: 20px;
  }

  .nav__item {
    font-size: 12px;
  }

  .banner__title {
    font-size: 24px;    
    line-height: 30px;
  }
  .banner__subtitle-text {
    font-size: 18px;    
    line-height: 20px;
  }
  .price__label {
    font-size: 18px;
  }
  .price__value {
    font-size: 20px;
  }
  .price__item {
    margin: 15px 0;
  }

  .price-list__value {
    font-size: 28px;
  }

  .features__text {
    font-size: 16px;
  }  
}
  /*
  .header__container {
    flex-direction: column;
    gap: 20px;
  }

  .banner__title {
    font-size: 28px;
    line-height: 34px;
  }

  .button {
    width: 100%;
    padding: 20px;
  }

  .button__text {
    font-size: 18px;
  }

  .form__input {
    height: 36px;
    font-size: 16px;
  }

  .form__submit {
    padding: 20px;
    font-size: 18px;
  }
  */
}

/* Minimum width for very small devices */


/*
  .banner {
    height: auto;
    flex-direction: column;
  }

  .banner__content {
    padding: 120px 40px;
    max-width: 100%;
  }

  .banner__title {
    font-size: 48px;
    line-height: 58px;
  }
  .banner__title {
    font-size: 60px;
    line-height: 72px;
  }
  .banner__image{
    width: 100%;
    height: auto;   
    //max-height: fit-content; 
  }
  .banner__image-container {
    max-height: fit-content;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}  */

/*  
  .features__container {
    flex-direction: column;
  }

  .features__image {
    display: none;
  }

  .contact__container {
    flex-direction: column;
  }

  .contact__content {
    width: 100%;
    padding: 40px;
  }

  .footer__content {
    padding: 40px;
  }

  .footer__bottom {
    padding: 0 40px;
  }
}

